/*
  style.css 
  Feel free to change this CSS for your own purposes
*/

/* Using font-size: larger to make things pop. Feel free to change. */
body {
    background-color:#36013F;
    color: white;
    margin: 30px;
    font-size: x-large;
}

h1 {
    margin-bottom: 0;
    margin-left: 120px;
}

h6 {
    margin-top: 10px;
    margin-left: 120px;
}

h3 {
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}